/* MEDIA  */
@media (max-width: 768px) {

  /**/
  .card__default-spacing{
    align-items: center;
    text-align: center;
    padding: 1rem .75rem;
  }

  .section-title{
    font-size: var(--text-xl);
  }

  /*HEADER*/
  .header__links-container{
    display: none;
  }

  /* HERO _____________*/
  #hero {
    min-height: auto;
  }

  .hero-grid {
    grid-template-columns: 1fr;
  }
  .hero-title{
    font-size: 1.7rem;
    text-align: center;
  }
  .hero-subtitle {
    text-align: center;
    font-size: var(--text-lg);
  }

  .hero-description{
    text-align: center;
    font-size: 15px;
  }

  .cta-container{
    justify-content: center;
  }

  .stats-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }
  .stat{
    padding: 0.5rem 0;
  }
  .stat:not(:last-child) {
    border-right: none;
  }
  .stat:nth-child(-n + 2) {
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .stat .stat-title{
    font-size: var(--text-base);
  }
  .stat .stat-description{
    font-size: var(--text-xs);
  }

  /* PROBLEMA _____________*/
  .problem-list{
    flex-direction: column;
    align-items: flex-start;
  }
  .before-after {
    grid-template-columns: 1fr;
  }

  /* SERVICES  */
  .services__cards-container{
    grid-template-columns: 1fr;
  }

  /*Footer*/
  .subfooter__container{
    grid-template-columns: 1fr;
  }

  .footer__container{
    flex-direction: column;
    row-gap: 2rem;
  }
}